@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #002C39;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color:#FFFFFF;
    margin: 90px 0 0 104px
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 82px 0 0 154px;
}

section{
    width: 363px;
    margin-bottom: 56px;
}

.box{
    background-color: #E8D8C6;
    border-radius: 20px;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: bold;    
    color:#FFFFFF;
}

.photo_func{
    padding: 30px;
}